<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>{$sitename} - Preview</title></head>
<link href="{$css_url}/core.css" type="text/css" rel="stylesheet">
<link href="{$css_url}/forum.css" type="text/css" rel="stylesheet">
<body class="gbody">
<div style="padding:10px;">
<!--topic_title-->
<table class="forumsmb" style="width:100%;">
<tr><td class="tbTransparentCell">
<span class="txtNr"><strong>{$l_topic}</strong>:<br />{$topicTitle2}<br /></span>
</td></tr></table>
<!--/topic_title-->
<table class="forums" style="width:100%;">
<tr><td class="tbTransparentCell">
<span class="txtNr"><strong>{$l_message}</strong>:</span><br /><br />
<span class="txtNr">{$postText2}<br /></span>
</td></tr></table>
</div>
</body>
</html>