<table class="tbTransparent blocktitle">
<tr>
<td class="tbTransparent" style="width:50%;text-align:left"><h1>{$l_lastDiscussions}</h1></td>
<td class="tbTransparent" style="width:50%;text-align:right;line-height: 25px;"><div class="sort" style="white-space:nowrap;">{$l_sortedBy}&nbsp;<span class="txtCm">{$sortedByT}</span>&nbsp;&nbsp;{$l_sortBy}&nbsp;<a href="{$main_url}/{$indexphp}sortBy={$sortByNew}">{$sortByT}</a></div></td>
</tr>
</table>

<table class="forumsmb list">
<tr>
<td class="caption4" style="width:25px"><img src="{$img_url}/!pix.gif" style="width:25px;height:1px" alt="" /></td>
<td class="caption4">{$l_topic}</td>
<td class="caption4" style="text-align:center">{$l_replies}</td>
<td class="caption4" style="text-align:center">{$l_views}</td>
<td class="caption4" style="text-align:center">{$l_author}</td>
<td class="caption4" style="text-align:center;white-space:nowrap;">{$l_lastAuthor}</td>
</tr>

{$listTopics}

</table>
