<tr class="{$bg}">
<td class="caption1" style="width:40px;text-align:center;border-right:none;"><a href="{$linkToForums}" title="{$forum_title}"><img src="{$img_url}/forum_icons/{$forum_icon}" alt="{$forum_title}" /></a></td>
<td class="caption1" style="width:100%;border-left:none;"><b><a href="{$linkToForums}" title="{$forum_title}">{$forum_title}</a></b> {$forum_desc}</td>
<td class="caption1" style="width:65px; text-align:center">{$numTopics}</td>
<td class="caption1" style="width:65px; text-align:center">{$numPosts}</td>
</tr>
