<tr class="{$bg}">
<td class="caption1" style="width:40px;text-align:center;border-right:none;"><a href="{$linkToTopic}" title="{$topicTitle}"><img src="{$img_url}/forum_icons/topic_{$tpcIcon}.gif" style="width:30px;height:30px;"
alt="{$topicTitle}" /></a></td>
<td class="caption1" style="border-left:none;">{$topic_reverse}<a href="{$linkToTopic}" title="{$topicTitle}">{$topicTitle}</a>&nbsp;<div class="navCell">{$pageNavCell}</div></td>
<td class="caption1" style="text-align:center;">{$numReplies}</td>
<td class="caption1" style="text-align:center;">{$topic_views}</td>
<td class="caption1" style="text-align:left;padding-left:10px;">{$topicAuthor} <span class="txtSm">{$whenPosted}</span></td>
<td class="caption1" style="text-align:left;padding-left:10px;">{$lastPoster} <span class="txtSm">{$lastPostDate}</span></td>
</tr>
