<tr class="{$bg}">
<td class="caption1" style="width:40px;text-align:center;border-right:none;"><a href="{$linkToTopic}" title="{$topic_title}"><img src="{$img_url}/forum_icons/{$forumIcon}" alt="{$topic_title}" /></a></td>
<td class="caption1" style="border-left:none;">{$topic_reverse}<a href="{$linkToTopic}" title="{$topic_title}">{$topic_title}</a>&nbsp;<div class="navCell">{$pageNavCell}</div></td>
<td class="caption1" style="text-align:center">{$numReplies}</td>
<td class="caption1" style="text-align:center"><span class="views">{$topic_views}</span></td>
<td class="caption1" style="text-align:left;padding-left:7px;">{$topicAuthor} <span class="txtSm">{$whenPosted}</span></td>
<td class="caption1" style="text-align:left;padding-left:7px;">{$lastPoster} <span class="txtSm">{$lastPostDate}</span></td>
</tr>
