<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>{$title}</title>
<meta name="ROBOTS" content="{$metaRobots}" />
{$l_meta}
<meta name="Description" content="{$description}" />
<meta name="Keywords" content="build make start my own free custom paid web discussion easy small mini forum software download site web best bulletin board boards bb php online mysql database mod rewrite mod_rewrite open source gpl customize integrate seo google search engine embed conference postgresql" />
<meta name="abstract" content="miniBB php bulletin board is the leading easiest simple scalable by design mini free open-source bulletin board forum software. Embed integrate directly your website online community being professional programmer or designer!" />
<meta name="Document-state" content="Dynamic" />
<meta name="URL" content="http://www.minibb.net/" />
<meta name="Author" content="Paul Puzyrev, Sergei Larionov" />
<link href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="STYLESHEET" />
</head>
<body class="gbody">

<table class="forumsmb">

<tr>
<td class="caption2" colspan="2"><b>&nbsp;{$l_sepr}&nbsp;{$l_menu[0]}{$l_menu[7]}{$l_menu[3]}{$l_menu[2]}{$l_menu[1]}<!--{$l_menu[4]}-->{$l_menu[5]}{$l_menu[6]}</b></td></tr>
</table>
